{% extends 'base.html' %}


{% block app_content %}
    <div class="main">
        <div class="container tim-container" style="max-width:800px; padding-top:100px">
            <h1 class="text-center">Protected Page <br> ADMIN
                <small class="subtitle">only available for users with the role ADMIN</small>
            </h1>
            <p>Flask starter includes the Flask framework setup to handle logins via flask-login and forms via flask-wtf
                with error pages.</p>
            <p>This starter applications uses the Creative Tim 'Paper Kit 2' bootstrap template</p>
            <!--     end extras -->
        </div>
        <div class="container tim-container" style="max-width:800px; padding-top:100px">
            <p>Click the button to move to another sample page</p>
            <a href="{{ url_for('page2.index') }}" class="btn btn-block btn-lg btn-info btn-round">Another Sample Page</a>
        </div>
        <div class="space"></div>


        <!-- end container -->
    </div>
    <!-- end main -->

{% endblock %}