authlib==0.14.3
beautifulsoup4==4.9.1
boto3==1.14.20
botocore==1.16.11
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
dnspython==1.16.0
docutils==0.16
email-validator==1.1.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-WTF==0.14.3
google-api-python-client==1.9.3
google-auth==1.18.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
pymongo==3.10.1
python-dateutil==2.8.1
python-dotenv==0.14.0
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
soupsieve==2.0
urllib3==1.25.9
Werkzeug==1.0.1
WTForms==2.3.1