{% extends 'base.html' %}

{% block app_content %}
    <div class="main">
        <div class="container tim-container">

            <div class="tim-title">
<!--                <h2>Flask Starter Login Page</h2>-->
                <h3>{{ server_message }}</h3>
            </div>
            <a class="btn btn-block btn-lg btn-success btn-round oauth-container btn darken-4 white black-text" href="/auth/google/login" style="text-transform:none">
                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login with Google
            </a>
            <button type="button" onclick="window.location.href='/auth/signup'" class="btn btn-block btn-lg btn-success btn-round">New User?</button>

            <div class="space-30"></div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div>
                        <div class="form-group">
                            <p>
                                {{ form.email.label }}<br>
                                {{ form.email(size=32, class='form-control', placeholder='Email') }}<br>
                                {% for error in form.email.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <p>
                                {{ form.password.label }}<br>
                                {{ form.password(size=32, class='form-control', placeholder='Password') }}<br>
                                {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <p>
                                {{ form.remember_me() }} {{ form.remember_me.label }}
                            </p>
                        </div>
                    </div>
                    <p>{{ form.submit(class="btn btn-block btn-lg btn-info btn-round") }}</p>
                </div>
            </form>
        </div>
        <!-- end container -->
        <div class="space-30"></div>
    </div>

{% endblock %}