{% extends 'base.html' %}

{% block app_content %}
    <div class="main">
        <div class="container tim-container" style="max-width:800px; padding-top:100px">
            <h1 class="text-center">Page 2 <br> Sample
                <small class="subtitle">A new blueprint to handle another subsection of the applications</small>
            </h1>
            <p>Flask starter includes the Flask framework setup to handle logins via flask-login and forms via flask-wtf
                with error pages.</p>
            <p>This starter applications uses the Creative Tim Paper Kit 2 bootstrap template</p>
            <!--     end extras -->
        </div>
        <div class="container tim-container" style="max-width:800px; padding-top:100px">
            <a href="{{ url_for('main.index') }}" class="btn btn-block btn-lg btn-info btn-round">Main Index Page</a>
        </div>
        <div class="space"></div>

        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Follows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#following" role="tab">Following</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content following">
            <div class="tab-pane active" id="follows" role="tabpanel">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <ul class="list-unstyled follows">
                            <li>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                        <img src="{{ url_for('static', filename='../assets/img/faces/clem-onojeghuo-2.jpg') }}"
                                             alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                    <div class="col-md-7 col-sm-4  ml-auto mr-auto">
                                        <h6>Flume<br/>
                                            <small>Musical Producer</small>
                                        </h6>
                                    </div>
                                    <div class="col-md-3 col-sm-2  ml-auto mr-auto">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <hr/>
                            <li>
                                <div class="row">
                                    <div class="col-md-2 ml-auto mr-auto ">
                                        <img src="{{ url_for('static', filename='../assets/img/faces/ayo-ogunseinde-2.jpg') }}"
                                             alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                    <div class="col-md-7 col-sm-4">
                                        <h6>Banks<br/>
                                            <small>Singer</small>
                                        </h6>
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane text-center" id="following" role="tabpanel">
                <h3 class="text-muted">Not following anyone yet :(</h3>
                <button class="btn btn-warning btn-round">Find artists</button>
            </div>
        </div>

        <!-- end container -->
    </div>
    <!-- end main -->


{% endblock %}