{% extends 'base.html' %}


{% block app_content %}
    <!-- <div class="tim-title">
        <h3>404</h3>
    </div> -->

    <div id="notifications">
        <div class="alert alert-danger">
            <div class="container">
                <center><h3> 500: SERVER ERROR </h3></center>
                    {% if error_message %}
                        <center><h4> {{error_message}} </h4></center>
                    {%  else %}
                        <center><h4>An unexpected error has occurred</h4></center>
                    {%  endif %}
            </div>
        <center><p><a href="{{ url_for('main.index') }}">{{ 'Homepage' }}</a></p></center>
        </div>
        <div class="clearfix"></div>
    </div><!--  end notifications -->

{% endblock %}
